@import "/home/thos/.cache/wal/colors-swaync.css";

* {
  all: unset;
  font-size: 10px;
  font-family: "0xProto";
  transition: 200ms;
}

trough highlight {
  background: @foreground;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @background;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @color4;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 0 1px @background;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @background;
  color: @foreground;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @color1;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @color8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @foreground;
  background-color: @background;
  box-shadow: inset 0 0 0 1px @color15;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @background;
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @color6;
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @background;
  background-color: @color1;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @color5;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @color1;
  color: @background;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 0 1px @background;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @background;
  color: @foreground;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @foreground;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @foreground;
  background-color: @background;
  box-shadow: inset 0 0 0 1px @color15;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @color7;
  color: @foreground;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @color6;
  color: @background;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @foreground;
  background-color: @background;
  box-shadow: inset 0 0 0 1px @color15;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @color1;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @color8;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @foreground;
  background-color: @background;
  box-shadow: inset 0 0 0 1px @color15;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @color6;
  color: @foreground;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @background;
  background-color: @color5;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @color1;
  color: @background;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @color1;
  color: @background;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @color8;
  color: @foreground;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @color15;
  background-color: @color6;
  color: @foreground;
}

.notification.critical progress {
  background-color: @color1;
}

.notification.low progress,
.notification.normal progress {
  background-color: @color4;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @background;
  border: 1px solid @color15;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @background;
}

.control-center-dnd slider {
  background: @color15;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @background;
  border: 1px solid @color15;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @background;
}

.widget-dnd > switch slider {
  background: @color15;
  border-radius: 8px;
  border: 1px solid @color8;
}

.widget-mpris .widget-mpris-player {
  background: @background;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: @color1;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: @background;
}

.control-center .widget-label > label {
  color: @foreground;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @color6;
}

.widget-volume trough highlight {
  background: @color6;
}

.widget-backlight trough highlight {
  background: @color3;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: @color3;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
